<script src="/js/main_menu.js"></script>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Gallery</a>
            <ul id="main_menu" class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/albums">Albums</a></li>
                <li><a href="/aboutUs">About us</a></li>
            </ul>
        </div>
    </div>
</div>
